# Скопируйте этот файл в .env и заполните своими значениями
BOT_TOKEN=8648125314:AAFWKCay66P9u_A4X-sJQWF0iBHdeiiYse0
ADMIN_SECRET=neversyze18122009
MINI_APP_URL=https://loquacious-gecko-6bd8cd.netlify.app
PORT=3000
